body { 
    font-family: Arial, sans-serif; 
    margin: 0; padding: 0; 
    background-color: rgb(155, 150, 150);
    align-items: center;
    text-align: center;
}
header { display: flex; 
    align-items: center; 
    padding: 10px 20px; 
    background: #f0f0f0; 
}
header img { 
    width: 30px; 
    height: 30px; 
    margin-right: 10px; 
}
h1 { 
    margin: 0; 
    text-align: center;
    
}
.articulos { 
    padding: 20px; 
    display: flex;
    align-items: center;
}
.articulo { 
    border: 1px solid #ccc; 
    padding: 15px; 
    margin-bottom: 20px; 
    border-radius: 8px; 
    width: 350px;
    margin-left: 20px;
    align-items: center;
    text-align: center;
}
.articulo img { 
    max-width: 150px; 
    display: center;
    margin-bottom: 10px; 
}
footer { 
    background: #eee; 
    padding: 10px 20px; 
    display: flex; 
    justify-content: space-between; 
    font-size: 14px; 
}
